@import "../../design-tokens/variables";

.plus-field__name {
  margin-bottom: 9px;
  line-height: 22px;
  color: #394959;
}

.plus-field__input {
  position: relative;
  margin-bottom: 6px;
  padding: 15px 24px;
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid $default-text-color;
}

.plus-field__input--error {

  border: 1px solid crimson;

  &::before {
    position: absolute;
    content: "* Некорректное значение";
    color: crimson;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
  }
}

.plus-field__content {
  margin: 0 15px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  flex-grow: 1;
  border: none;
  outline: none;
}

.plus-field__btn {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.plus-field__btn--minus::after,
.plus-field__btn--plus::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 2px;
  background-color: $default-text-color;
}

.plus-field__btn--plus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 16px;
  background-color: $default-text-color;
}

.plus-field__info {
  color: #707C87;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

@media (max-width: $tablet-width) {
  .plus-field__input {
    max-width: 100%;
  }

  .plus-field__content {
    font-size: 16px;
  }

  .plus-field__info {
    margin-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .plus-field__info {
    margin-bottom: 10px;
  }
}