/**
Sizes
 */

$min-width: 320px;
$max-width: 1200px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;


/**
Colors
 */

$default-text-color: #1F1E25;

$blue-bg: #2C36F2;
$gray-bg: #F6F7FF;