@import "../../design-tokens/variables";

.offer {
  margin-top: 5px;
  padding: 54px 60px 60px 60px;
  background-color: $gray-bg;
  width: 100%;
  max-width: 500px;
}

.offer__head {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 23px;
}

.offer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.offer__item {
  margin-bottom: 26px;
  width: 50%;
}

.offer__value {
  margin: 0 0 3px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.offer__item:nth-child(even) {
  padding-left: 35px;
}

.offer__name {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

.offer__btn {
  width: 100%;
  padding: 16px;
  margin-top: 5px;
  text-align: center;
  display: block;
  cursor: pointer;
  font-weight: 500;
  background: $blue-bg;
  border-radius: 4px;
  border: none;
  color: $gray-bg;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .offer {
    margin-top: 29px;
    max-width: 100%;
  }

  .offer__item {
    width: 35%;
  }

  .offer__item:nth-child(even) {
    padding-left: 31px;
  }

  .offer__btn {
    padding: 15px;
  }
}

@media (max-width: $mobile-width) {
  .offer {
    padding: 35px 15px 41px 15px;
    margin-top: 14px;
  }

  .offer__head {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 28px;
  }

  .offer__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .offer__name {
    margin-top: 6px;
  }

  .offer__value {
    font-size: 18px;
    line-height: 13px;
  }

  .offer__item:nth-child(even) {
    padding-left: 0;
  }

  .offer__btn {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}