@import "../../design-tokens/variables";

.credit-settings__subhead {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.credit-settings__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.credit-settings__option {
  margin-bottom: 15px;
}

.credit-settings__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid $blue-bg;
  }
}

.credit-settings__checkbox:checked + .credit-settings__label {
  &::before {
    background-color: $blue-bg;
    background-image: url("../../img/check.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
