@import "../../design-tokens/variables";

.calculator {
  padding-top: 37px;
}

.calculator__head {
  margin: 0 0 49px 0;
  font-size: 41px;
  line-height: 57px;
}

.calculator__subhead {
  margin: 0 0 22px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.calculator__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  align-items: flex-start;
}

.calculator__params {
  width: 100%;
  max-width: 600px;
}

.calculator__modal-inner {
  max-width: 370px;
  text-align: center;
}

.calculator__modal-header {
  margin-top: 19px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}
.calculator__modal-txt {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

@media (max-width: $tablet-width) {
  .calculator {
    padding-top: 68px;
  }

  .calculator__head {
    margin: 0 0 26px 0;
    font-size: 32px;
    line-height: 45px;
  }

  .calculator__subhead {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 19px;
  }

  .calculator__wrap {
    flex-wrap: wrap;
  }

  .calculator__params {
    max-width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .calculator {
    padding-top: 33px;
  }

  .calculator__head {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 22px;
  }

  .calculator__subhead {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 14px;
  }

  .calculator__wrap {
    margin-bottom: 43px;
  }
}
