.calculator {
  padding-top: 37px;
}

.calculator__head {
  margin: 0 0 49px 0;
  font-size: 41px;
  line-height: 57px;
}

.calculator__subhead {
  margin: 0 0 22px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.calculator__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  align-items: flex-start;
}

.calculator__params {
  width: 100%;
  max-width: 600px;
}

.calculator__modal-inner {
  max-width: 370px;
  text-align: center;
}

.calculator__modal-header {
  margin-top: 19px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}
.calculator__modal-txt {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}
