.calculator__head {
  margin: 0 0 70px 0;
  font-size: 41px;
  line-height: 57px;
}

.calculator__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: flex-start;
}
