@import "../../design-tokens/variables";

.logo {
  max-width: 150px;
  display: flex;
  align-items: flex-end;
}

.logo--big {
  align-items: flex-start;
}

.logo__img {
  display: block;
  margin-right: 9px;
  width: 28px;
  height: 25px;
}

.logo--big .logo__img {
  width: 30px;
  height: 27px;
}

.logo__label {
  display: block;
  width: 112px;
  height: 16px;
}

.logo__text {
  display: none;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.logo--big .logo__text {
  display: block;
}

@media (max-width: $tablet-width){
  .logo__img {
    margin-right: 4px;
  }

  .logo__label {
    width: 101px;
  }
}

@media (max-width: $mobile-width) {
  .logo__img {
    margin-right: 6px;
  }

  .logo__img {
    width: 18px;
    height: 17px;
  }

  .logo__label {
    width: 89px;
  }
}