@import "../../design-tokens/variables";

.offer-form {
  padding: 62px 70px 70px 70px;
  max-width: 770px;
  margin: 0 auto;
  background-color: $gray-bg;
}

.offer-form__title {
  margin: 0 0 15px 0;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  font-weight: 500;
}

.offer-form__list {
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
}

.offer-form__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
  border-bottom: 1px solid #C4C4C4;
}

.offer-form__key {
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

.offer-form__value {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.offer-form__input-name,
.offer-form__input-phone {
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 18px;
  color: $default-text-color;
  border: 1px solid #0A1E32;
  border-radius: 4px;
  background: transparent;
}

.offer-form__input-name {
  padding: 20px 24px;
}

.offer-form__input-name::placeholder,
.offer-form__input-phone::placeholder {
  color: #707C87;
}


.offer-form__input-phone {
  max-width: 300px;
  padding: 19px 24px;
}

.offer-form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.offer-form__wrap-btn {
  padding-top: 8px;
  text-align: center;
}

.offer-form__btn {
  padding: 17px 58px;
  background: $blue-bg;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: $gray-bg;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.1;
    cursor: auto;
  }
}

.offer-form__error-field {
  margin-top: -20px;
  margin-bottom: 4px;
  text-align: center;
  color: crimson;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: $tablet-width) {
  .offer-form {
    background-color: #FFFFFF;
    padding: 0;
  }

  .offer-form__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 27px;
  }

  .offer-form__item {
    padding-bottom: 12px;
  }

  .offer-form__input-name {
    padding: 18px 24px;
  }

  .offer-form__input-phone {
    max-width: 324px;
  }

  .offer-form__btn {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .offer-form__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .offer-form__item {
    flex-wrap: wrap;
    padding: 14px 0;
  }

  .offer-form__key {
    width: 100%;
    order: 2;
  }

  .offer-form__value {
    width: 100%;
    order: 1;
    font-size: 18px;
    line-height: 25px;
  }

  .offer-form__input-name {
    font-size: 16px;
    line-height: 22px;
    padding: 18px 14px;
  }

  .offer-form__wrap {
    flex-wrap: wrap;
    margin-bottom: 19px;
  }

  .offer-form__input-phone {
    font-size: 16px;
    line-height: 22px;
    padding: 18px 14px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .offer-form__wrap-btn {
    padding: 0;
    margin-top: -10px;
  }

  .offer-form__btn {
    font-size: 14px;
    line-height: 20px;
  }

  .offer-form__error-field {
    font-size: 14px;
    margin-top: -30px;
    margin-bottom: 18px;
  }
}
