@import '../../design-tokens/variables';

.tab {
  position: relative;
  padding: 53px 70px 53px 70px;
  display: flex;
  background-color: $gray-bg;
  min-height: 410px;
}

.tab__text {
  position: relative;
  z-index: 3;
  width: 50%;
}

.tab__title {
  font-size: 22px;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 28px;
  max-width: 375px;
}

.tab__list {
  list-style: none;
  padding: 0;
  margin: 0 0 33px 0;
}

.tab__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 23px;
  max-width: 400px;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 13px;
    height: 10px;
    background-image: url("../../img/check.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.tab__bottom {
  width: 340px;
  font-size: 18px;
  line-height: 25px;
}

.tab__link {
  color: $default-text-color;
  font-weight: 500;

  &:hover {
    opacity: 0.5;
  }
}

.tab__btn {
  display: block;
  max-width: 200px;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: $blue-bg;
  border-radius: 4px;
  color: $gray-bg;
  text-decoration: none;
}

.tab__img {
  position: static;
  max-width: 50%;
  z-index: 2;
  right: 135px;
  top: 60px;
  width: 440px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: $tablet-width) {
  .tab {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 58px;
    min-height: 380px;
  }

  .tab__text {
    width: 64%;
  }

  .tab__img {
    position: absolute;
    width: 289px;
    height: 260px;
    right: 45px;
    background-position: -100px 0;
  }

  .tab__title {
    font-size: 18px;
    line-height: 25px;
  }

  .tab__item {
    font-size: 16px;
    line-height: 21px;
    max-width: 433px;
  }

  .tab__list {
    margin-bottom: 25px;
  }
}

@media (max-width: $mobile-width) {
  .tab {
    padding: 55px 15px 50px 15px;
    position: relative;
    min-height: 362px;
  }

  .tab__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .tab__text {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .tab__item {
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px;
    margin-bottom: 12px;
    max-width: 240px;

    &::before {
      width: 8px;
      height: 6px;
    }
  }

  .tab__img {
    width: 87px;
    height: 113px;
    top: 98px;
    right: 0;
    z-index: 1;
  }

  .swiper-slide:nth-child(1) .tab__img{
    background-position: -122px -49px;
    background-size: auto 144%;
  }

  .swiper-slide:nth-child(2) .tab__img{
    background-position: -37px 0px;
    background-size: auto 110%;
  }

  .swiper-slide:nth-child(3) .tab__img{
    background-position: -37px 0px;
    background-size: auto 90%;
  }

  .swiper-slide:nth-child(4) .tab__img{
    background-position: -31px 0px;
    background-size: auto 90%;
  }

  .tab__bottom {
    max-width: 255px;
    font-size: 14px;
    line-height: 20px;
  }

  .tab__btn {
    max-width: 100%;
    padding: 14px 30px;
    font-size: 14px;
    line-height: 16px;
  }
}
