@import "../../design-tokens/variables";

.map {
  padding-top:98px;
  padding-bottom: 110px;
}

.map__header {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 41px;
  line-height: 57px;
}

.map__container {
  width: 100%;
  min-height: 462px;
  background-image: url("../../img/map-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

