@import "../../design-tokens/variables";

.nav {
  padding-left: 110px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  max-width: 520px;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 25px;
  margin-top: 5px;

  &:last-child {
    display: none;
  }
}

.nav__link {
  color: $default-text-color;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}

.nav__icon {
  margin-right: 5px;
  width: 20px;
  height: 22px;
}

.nav__login-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: $tablet-width){
  .nav {
    padding-left: 68px;
  }

  .nav__link {
    font-size: 14px;
  }

  .nav__item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width){
  .nav {
    position: absolute;
    padding: 0 15px 15px 15px;
    top: 42px;
    left: -100%;
    z-index: 20;
    width: 100%;
    max-height: 100vh;
    //height: 100vh;
    background-color: #FFFFFF;
    transition: left .5s;
    overflow-y: scroll;
  }

  .header--nav-open .nav {
    left: 0;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    margin: 0;
    padding: 25px 30px;
    border-bottom: 1px solid #C1C2CA;

    &:last-child {
      display: block;
      margin-bottom: 20px;
    }
  }

  .nav__link {
    font-size: 16px;
    line-height: 19px;
  }
}
